<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>
<html>
<body>
   <footer>
      <p>Ⓒ Ryan Sarwar 2022 Webscript Programming || https://github.com/RyanSarwar?tab=repositories</p>
    </footer>
</body>
</html>

<!---code used for footer--->