<tr>
            <td>John</td> 
            <td>Doe</td>
            <td>The Aviator</td>
            <td>09/18/2022</td>
            <td>09/22/2022</td>
            <td>$3</td>
            <td>
                <a href="/update-user" class="btn border-shadow update"> <!---will go to the update-user page when the button is clicked--->
                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                </a>
                <a class="btn border-shadow delete"> <!---deletes entry based on last name--->
                    <span class="text-gradient"><i class="fa-solid fa-trash"></i></span> <!---icon used for button--->
                </a>
                <a href="/add-user" class="btn border-shadow add=user"> <!---will go to the add-user page when the button is clicked--->
                  <span class="text-gradient"><i class="fa-solid fa-user-plus"></i></span> <!---icon used for button--->
                </a>
            </td>
          </tr>  

<!---code for the action buttons on the side (edit, update, delete etc.)--->